# Игнорировать все .txt-файлы
*.txt
*.log
# Игнорировать папку build
build/
venv/

# Игнорировать файл в корне
/config.json

# Игнорировать все .tmp-файлы в любой папке
**/*.tmp

# Не игнорировать important.txt (исключение)
!main.log